@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
}

.dark .dark\:bg-gray-900 {
  background-color: #111827;
}

.dark .dark\:text-white {
  color: #fff;
}

.dark .dark\:bg-gray-800\/80 {
  background-color: rgba(31, 41, 55, 0.8);
}

.dark .dark\:bg-gray-700 {
  background-color: #374151;
}

.dark .dark\:text-white {
  color: #fff;
}